// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1,
h2 {
  font-family: serif;
}

.cover-new {
  height: 820px;
  width: 100%;
  background-image: url(/assets/sample2.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
}

.form-label {
  font-size: 20px;
  background-color: lightblue;
}

.form-group {
  width: 600px;
}

.cover-index {
  height: 820px;
  width: 100%;
  background-image: url(/assets/sample3.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
}

.one-post {
  margin: 5px 30px;
}

.one-post img:hover {
  transform: scale(1.2, 1.2);
}

.caption {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.cover-show {
  height: 820px;
  width: 100%;
  background-image: url(/assets/sample4.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
}

#text {
  font-size: 18px;
}

.cover-edit {
  height: 820px;
  width: 100%;
  background-image: url(/assets/sample5.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
}

.page a,
.next a,
.last a,
.first a,
.prev a {
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.page a:hover,
.next a:hover,
.last a:hover,
.first a:hover,
.prev a:hover {
  color: black;
}

.current {
  font-weight: bold;
}

.comments-index {
  background-color: #fff;
  border: 1px #000 solid;
}

.comment-delete {
  margin-left: auto;
}

.favorite_btn {
  color: #000;
}