// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cover-user-show {
  height: 100%;
  width: 100%;
  background-image: url(/assets/sample6.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
}

.cover-user-index {
  height: 100%;
  width: 100%;
  background-image: url(/assets/sample7.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
}

.cover-user-edit {
  height: 100%;
  width: 100%;
  background-image: url(/assets/sample8.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
}